body {
	margin: 0 auto;
}

.carousel-inner .item img {
	width: 100%;
	height: 300px;
}

font {
	color: #3164af;
	font-size: 18px;
	font-weight: normal;
	padding: 0 10px;
}
a {
	color: blueviolet;
	font-size: 10px;
}

.logo{
	padding-left: 50px;
}
.span_wel{
	font-size:30px;
	padding-left: 50px;
}

.header{
	margin-top: 10px;
}

.have-account{
	padding-right: 50px;
	float: right;
	font-size: 15px;
}
